<div id = "titre" >
        <h1 class="text1">Pokédex</h1>
    </div>
<div id = "search" *ngIf="ready">
    <input id="float-input" type="text" pInputText size="5" [value]="id()" readonly>
    <p-autoComplete [(ngModel)]="choix" [suggestions]="filteredPokemonSingle" (completeMethod)="filterPokemonSingle($event)"  field="nom" [size]="30"
    placeholder="Pokemon" [minLength]="1" [dropdown]="true"></p-autoComplete>
    <p-button style ="margin-left: 1%"icon="pi pi-check" iconPos="right" label="OK" (click)="go()"></p-button>
</div>



<div id = "affichage">
  <app-affichage *ngIf="done"  [ChildPokemon]="choix"></app-affichage>
</div> 