<div class="child">
        <div class="info1">
          <div [class.mat-elevation-z2]="isActive" [class.mat-elevation-z8]="!isActive" class = "pic_type">
              <div  class="picture">
                  <img class ="img" [src]="img_url()" height="200" width="200" alt="">
                  <div class ="types">
                      <div class ="type" *ngFor="let type of ChildPokemon.types" [ngStyle]="type.style">{{type.nom}}</div>
                  </div>
              </div>
          </div>
          <div [class.mat-elevation-z2]="!isActive" [class.mat-elevation-z8]="isActive" class="description">
            <h1 class= "text2">description</h1>
            <p class ="text3" [innerHTML]="text()" style ="margin-left: 3%;margin-right: 3%"></p>
          </div>
        </div>

        <div class = "info2">
            <div [class.mat-elevation-z2]="!isActive" [class.mat-elevation-z8]="isActive" class = "class-moves">
              <p-virtualScroller [value]="moves" scrollHeight="380px" [itemSize]="100">
                  <p-header>Moves</p-header>
                <ng-template let-move pTemplate="item" let-i="index">
                    <div class="move-item">
                        <div class="move-item-i">
                          <div style= "font-size: 15px; text-align: center; padding-top: 30px"[ngStyle]="move.type.style">{{move.type.nom}}</div>
                        </div>
                        <div class="move-item-i">
                            <div style="font-size: 15px; text-align: center; padding-top: 30px">{{move.nom}}</div>
                        </div>
                        <div class="move-item-i">
                            <div style="font-size: 15px; text-align: center; padding-top: 30px">{{i}}</div>
                        </div>
                    </div>
                </ng-template>
            </p-virtualScroller>
            </div>
          <div [class.mat-elevation-z2]="!isActive" [class.mat-elevation-z8]="isActive" class = "stats" >
              <canvas baseChart width="2" height="1"
              [datasets]="radarChartData"
              [options]="radarChartOptions"
              [labels]="radarChartLabels"
              [chartType]="radarChartType"
              [colors]= "colors"
              >
            </canvas>
          </div>


        </div>
        
        
</div>
