/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700|Nunito:600');
@import url('http://fonts.googleapis.com/css?family=Fenix" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body {
  height: 100%;
  padding-top: 10px;
  font-family: 'Roboto', sans-serif;
}

#app {
  height: 100%;
  padding-top: 0px;
}

#alldata{
  background: linear-gradient(to bottom right,#1a598b,#9dd1c5);
  font-family: Cinzel Decorative, sans-serif;
}
